<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cli_options</key>
	<string>123</string>
	<key>host</key>
	<string>123</string>
	<key>user</key>
	<string>123</string>
</dict>
</plist>
